<section class="howitworks">

	<h2>How it works:</h2>
	
	<p class="lede">Every month, we'll send you a carefully selected, reviewed and approved mystery novel for your reading enjoyment. Just download your prefered format to you favorite e-reader device or app, and relax with a good book.</p>
	<p>On the 1st of each month, you'll receive an email with the subject line <span class="subjectline">$1 Mystery Club [MONTH] Selection</span>, containing a brief description and cover image of that month's selection.</p>
	<p>If you want to read it, click the <span class="buttontext">Read</span> button in the email and we'll process your monthly $1 charge, then redirect you to the download page. There, select your preferred format and download. Instructions for loading on various devices will be provided.</p>
	<p>Not interested in this month's selection? Just click <span class="buttontext">Pass</span> and your credit card will NOT be charged <span class="fairwarning">(but fair warning &hellip; if you decide later that you do want to read this novel, you'll have to buy it at full price, up to $5.99.</span></p>
	<p>Either way, your satisfaction is guaranteed. If you don't enjoy the month's selection, we'll refund your $1 and send you a different novel.</p>

</section>