<section class="whatitis">
	
	<h2>What it is:</h2>

	<p>A monthly subscription mystery book club for discerning fans of mystery and crime fiction who are tired of the constant search for something good to read.</p>
	<p>Imagine spending your valuable free time <span class="reading">reading</span> instead of searching, downloading samples, browsing, selecting, being bored/disgusted, trying again &hellip;</p>
	<p>With a membership in $1 Mystery Club, you'll always have something good to read. We have a huge selection of classic and out-of-print mystery novels that have been bestsellers and fan favorites for decades &hellip; or even longer. These novels have stood the test of time, been read by thousands of mystery fans just like you and remained favorites.</p>
	<p>Why risk another also-ran, rehash of the same tired themes when you can have fresh, original, thrilling, mind-bending mystery and crime stories delivered to your favorite e-reader device or app?<span class="note">(print editions coming soon!)</span></p>

</section>