// /*====================================================
// =            OPTIN MODAL SCSS                        =
// ====================================================*/

// .modal-box {
// 	z-index: 99999;
// 	max-width: 90%;
// 	h3 {
// 		text-align: center;
// 		span {
// 			display: block;
// 			color: $acolor;
// 		}
// 	}
// 	form {
// 		text-align: center;
// 	}
// 	&__overlay {
// 		position: fixed;
// 		top: 0;
// 		right: 0;
// 		bottom: 0;
// 		left: 0;
// 		visibility: hidden;
// 		opacity: 0;
// 		background: rgba(0,0,0,.8);
// 		-webkit-transition: opacity 0.1s ease-in;
// 		-moz-transition: opacity 0.1s ease-in;
// 		transition: opacity 0.1s ease-in;
// 		cursor: default;
// 	}

// 	&__content {
// 		position: absolute;
// 		left: 50%;
// 		top: 385px;
// 		-webkit-transform: translate(-50%, -50%);
// 		transform: translate(-50%, -50%);
// 		width: 500px;
// 		max-width: 90%;
// 		padding: 20px;
// 		background: $paper;
// 		border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
// 		border: 3px solid $acolor;
// 		opacity: 0;
// 	}

// 	&:target .modal-box__overlay,
// 	&:target .modal-box__content {
// 		opacity: 1;
// 		visibility: visible;
// 	}

// 	&--close {
// 		background: #606061;
// 		color: $paper;
// 		height: 30px;
// 		line-height: 30px;
// 		position: absolute;
// 		right: -15px;
// 		top: -15px;
// 		padding: 0 10px;
// 	}
// }

.disclaimer {
	color: $acolor;
	text-align: center;
	margin: 1rem;
}

#optin-email {
	line-height: 2rem;
}

#gimme {
	border: none;
	margin: 0.75rem;
	padding: 0.5rem;
	background-color: $acolor;
	color: $paper;
}




.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    h3 {
		text-align: center;
		span {
			display: block;
			color: $acolor;
		}
		}
		form {
			text-align: center;
		}
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 400px;
    max-width: 90%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    background: $paper;
		border-radius: 55px 15px 225px 15px/15px 225px 15px 255px;
		// border: 1px solid $acolor;
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 1px 1px 3px #000;
}

.modal-box--close{
	background: #606061;
	color: $paper;
	height: 30px;
	line-height: 30px;
	position: absolute;
	right: -15px;
	top: -15px;
	padding: 0 10px;
}

.close:hover {
    background: #00d9ff;
}