/*=============================================
=            SHORT STORY TOC                  =
=============================================*/

.pagehead {
  // border: 1px solid blue;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid $bgcolor;
}

.pagetitle {
  // border: 1px solid green;
  h1, h2 {
    text-align: center;
    text-transform: uppercase;
  }
  h1 {
    font-size: 2rem;
    color: $acolor;
    margin: 0 auto;
  }
  h2 {
    font-size: 1rem;
    color: lighten($pcolor, 10%);
  }
  margin: 1rem;
}

.sortsearch {
  display: flex;
}

.sort {
  // border: 1px solid green;
  flex: 0 0 65%;
  padding: 1rem 0 0 2rem;
  p {
    font-weight: bold;
    display: inline;
  }
  ul {
    display: inline;
    li {
      display: inline;
      font-size: 0.875rem;
      text-transform: uppercase;
      margin-right: 0.625rem;
      &:not(:last-child):after {
        content: "/";
        margin-left: 0.625rem;
      }
    }
  }
}

.search {
  // border: 1px solid orange;
  flex: 1;
}























// .ss-toc {
//   background-color: $bgcolor;
//   color: $paper;
//   padding: 0.05rem 1rem 1rem;
//   margin: 0 0 1rem 0;
//   @include span(8 of 8);
//   h1 {
//     text-transform: uppercase;
//     font-size: 1rem;
//     letter-spacing: 0.25rem;
//   }
//   h2 {
//     font-variant: small-caps;
//     letter-spacing: 0.09375rem;
//   }
//   .top {
//     p {
//       font-size: 1.25rem;
//       font-style: italic;
//     }
//     @include susy-breakpoint($bp-med){
//       @include span(5 of 8);
//     }
//     @include susy-breakpoint($bp-large){
//       @include span(6 of 12);
//     }
//   }
//   @include susy-breakpoint($bp-large){
//     @include span(12 of 12);
//     height: 100%;
//   }
// }



// .sortsearch {
//   // border: 2px solid hotpink;
//   // margin: 0 0 1rem 0;
//   padding: 0;
//   @include span(8 of 8);
//   @include susy-breakpoint($bp-med){
//     @include span(3 of 8);
//     padding-top: 1rem;
//   }
//   @include susy-breakpoint($bp-large){
//     @include span(6 of 12);
//   }
// }

// .sort {
//   // background-color: $bgcolor;
//   color: $paper;
//   // margin-bottom: 1rem;
//   padding: 0;
//   li {
//     display: inline;
//     padding-right: 2rem;
//   }
//   @include susy-breakpoint($bp-large){
//   @include span(6 of 6);
//   }
// }

// .search {
//   @extend .sort;
// }



















/*=============================================
=            SHORT STORY PAGE                 =
=============================================*/

.story__header {
  text-align: center;
  // @include susy-breakpoint($bp-large){
  //   @include span(8 at 2);
  // }
}


.story__img {
  background-color: $bgcolor;
  color: $paper;
  img {
    background-color: $paper;
    @include susy-breakpoint($bp-large){
      max-width: 960px;
    }
  }
}

.casefilenum {
  @include span(8);
  background-color: $bgcolor;
  color: $paper;
  letter-spacing: 0.09375rem;
  text-align: center;
  padding: 0.25rem 0;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.story__title {
  text-transform: uppercase;
  color: $acolor;
}

.story__author {
  margin: 0 0 1rem 0;
  span {
  font-variant: small-caps;
  }
}

.story__meta {
  background-color: hotpink;
  @include cf;
  // @include span(4 at 3);
  // border-top: 1px solid $bgcolor;
  // border-bottom: 1px solid $bgcolor;
  font-size: 0.85rem;
  display: inline;
  margin-top: 1rem;


  .originalpub {
    margin: 1rem;
    // @include susy-breakpoint($bp-med){
    //   text-align: right;
    //   @include span (3 at 2);
    // }
  }
  // .trf-issue {
  //   @include susy-breakpoint($bp-med){
  //     text-align: left;
  //     @include span (3 at 5);
  //   }
  // }
}

.story {
  @include susy-breakpoint($bp-large){
    @include span(8);
  }
}


.opub {
  display: block;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}

.opubdate {
  font-style: italic;
}

.opubissue {
  font-style: italic;
}

.metadata {
  // background-color: $acolor;
  // color: $paper;
  padding: 0.5rem;
  text-align: left;
  @include span(4 wide);
  @include susy-breakpoint($bp-med){
    @include span (2);
  }
}

.wordcount, .etr {
  text-transform: uppercase;
  font-size: 0.85rem;
}

span.etr {
  display: block;
}

.excerpt {
  letter-spacing: 1.5px;
  font-size: 0.875rem;
  padding: 1rem 0.5rem 0.25rem 1rem;
  // margin: 1rem 1rem 2rem;
  text-align: left;
  // border-bottom: 2px solid $acolor;
}





.toc {
  font-size: 95%;
  width: 400px;
  max-width: 95%;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 1rem;
  // border-top: 1px solid $acolor;
  border-bottom: 1px solid $acolor;
  text-align: center;
  header {
    background-color: $acolor;
  }
  h6 {
    margin: 0 0 1rem 0;
    padding: 5px 10px;
    color: #fff;
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
    }
  }
}

/* http://www.456bereastreet.com/archive/201105/styling_ordered_list_numbers/ */

ol {
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
}
ol > li {
    position:relative; /* Create a positioning context */
    margin:0 0 6px 2rem; /* Give each list item a left margin to make room for the numbers */
    padding: 0.25rem 0.5rem 0.25rem 1rem; /* Add some spacing around the content */
    list-style:none; /* Disable the normal item numbering */
    text-align: left;
    text-transform: uppercase;
    // border-top:1px solid $acolor;
    // background:#f6f6f6;
}
ol > li:before {
    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    top:-2px;
    left:-2em;
    // -moz-box-sizing:border-box;
    // -webkit-box-sizing:border-box;
    // box-sizing:border-box;
    width:2em;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    margin-right: 1rem;
    padding:4px;
    border-top:2px solid $acolor;
    color:$paper;
    background:$acolor;
    font-weight:bold;
    font-family:$header-font-family;
    text-align:center;
}
li ol,
li ul {margin-top:6px;}
ol ol li:last-child {margin-bottom:0;}



.chapternumber {
  color: desaturate($acolor, 50%);
  font-size: 1rem;
  text-transform: uppercase;
}

.chaptertitle {
  color: $acolor;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.btt {
  text-align: right;
  a {
    color: rgba(139,0,0,0.65);
  }
}

#theend {
  font-family: $header-font-family;
  font-size: 2rem;
  text-transform: uppercase;
  color: $acolor;
  text-align: center;
  margin: 2.5rem 0;
}

.break {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 0.75rem;
}