

.trf__issues {
  @include span(8);
  background-color: blue;
  color: white;
}

#theredfile {
  @include span(8 of 8);
  h2 {
    margin: 2rem 0;
    color: $acolor;
    text-transform: uppercase;
  }
  h3, h4 {
    @include span(7 of 8);
    @include push(1);
  }
  p {
    @include span(6 of 8);
    @include push(2);
  }
}