/* ==========================================================================
   FOOTER
   ========================================================================== */

.site__footer {
	display: block;
	text-align: center;
	font-size: 1.1rem;
	color: $paper;
	background: $bgcolor url("/assets/img/site/footprints1a.png") repeat-x;
	// min-height: 4.0625rem;
	padding: 1rem;
  margin-top: 2rem;
}

